In [2]:
from flask import Flask, render_template, request, jsonify
from os import getenv
import os
import numpy as np
from datetime import datetime
import mysql.connector
from mysql.connector import Error
import pandas as pd
import datetime
from mysql.connector import errorcode
import re
from docx import Document
from docx.shared import Pt
from docx.enum.text import WD_PARAGRAPH_ALIGNMENT
from mysql.connector import IntegrityError
from openpyxl import load_workbook
from openpyxl.styles import Font, Alignment
import webbrowser
from threading import Timer

In [3]:
def create_connection():
    try:
        connection = mysql.connector.connect(
            host='localhost',
            user='root',
            password='root',
            database='arif_academy'
        )
        
        if connection.is_connected():
            return connection
                
    except Error as e:
        print("Error while connecting to MySQL", e)

In [5]:
connection=create_connection()
cursor=connection.cursor()

In [6]:
cursor.execute("SELECT * FROM teachers;")
cursor.fetchall()

[('00000-0000007-9',
  'Ms Rubina Jnr',
  Decimal('0'),
  '0354-2069775',
  datetime.datetime(2015, 10, 7, 0, 0)),
 ('00000-0000200-0',
  'Joking',
  Decimal('15000'),
  '0300-2142547',
  datetime.datetime(2024, 7, 31, 0, 0)),
 ('12170-7770710-8',
  'Ms Rubina Jnr',
  Decimal('0'),
  '0354-2069775',
  datetime.datetime(2015, 10, 7, 0, 0)),
 ('16139-7491605-9',
  'Ms Muniba',
  Decimal('5350'),
  '0314-9021724',
  datetime.datetime(2019, 10, 1, 0, 0)),
 ('17016-1882052-5',
  'Ms Saneela',
  Decimal('4500'),
  '0342-9491013',
  datetime.datetime(2023, 1, 1, 0, 0)),
 ('20308-9130456-7',
  'Ms Shumaila',
  Decimal('1000'),
  '0344-7570946',
  datetime.datetime(1970, 1, 1, 0, 0)),
 ('21414-5198127-4',
  'Muhammad Shuja Siddiqui',
  Decimal('0'),
  '0310-8460201',
  datetime.datetime(2021, 9, 7, 0, 0)),
 ('25212-5477854-7', None, None, None, None),
 ('26380-7522534-5',
  'Ms Kashaf',
  Decimal('0'),
  '0349-1055936',
  datetime.datetime(2022, 9, 21, 0, 0)),
 ('26722-3717045-4',
  'Ms. Kauser Jahan',
  Decimal('9000'),
  '0342-9150407',
  datetime.datetime(2021, 4, 19, 0, 0)),
 ('28113-5295376-6',
  'Mrs. Sheneila',
  Decimal('0'),
  '0352-1186392',
  datetime.datetime(2019, 4, 10, 0, 0)),
 ('30289-8774915-9',
  'Ms Nosheen (New)',
  Decimal('0'),
  '0326-4991996',
  datetime.datetime(2022, 5, 10, 0, 0)),
 ('30891-5661794-4',
  'Ms Hiba Khawar',
  Decimal('0'),
  '0313-2301018',
  datetime.datetime(1970, 1, 1, 0, 0)),
 ('35298-9671233-0',
  'Ms Javeria',
  Decimal('0'),
  '0347-3039994',
  datetime.datetime(2022, 4, 1, 0, 0)),
 ('35562-2908050-9',
  'Ms Simra',
  Decimal('7000'),
  '0314-1842661',
  datetime.datetime(2023, 11, 1, 0, 0)),
 ('36931-5270476-1',
  'Mr. Abdullah Waseem',
  Decimal('0'),
  '0346-7064488',
  datetime.datetime(2019, 10, 1, 0, 0)),
 ('37702-3995386-7',
  'Miss Wareesha Salman',
  Decimal('0'),
  '0346-2020049',
  datetime.datetime(2018, 4, 12, 0, 0)),
 ('39846-1391190-0',
  'Miss Sameena',
  Decimal('4750'),
  '0339-7679487',
  datetime.datetime(2021, 6, 23, 0, 0)),
 ('41825-9306158-5',
  'Miss Rubina (Snr)',
  Decimal('0'),
  '0320-6458995',
  datetime.datetime(1970, 1, 1, 0, 0)),
 ('42000-9291108-2',
  'Ms. Ushna Badar',
  Decimal('0'),
  '0312-6314063',
  datetime.datetime(2019, 11, 15, 0, 0)),
 ('42101-1405831-0',
  'Mrs Saima Safdar',
  Decimal('7000'),
  '0345 2543119',
  datetime.datetime(2023, 1, 10, 0, 0)),
 ('42129-7381351-3',
  'Ms Zenish Navaid',
  Decimal('5500'),
  '0326-2021637',
  datetime.datetime(2022, 8, 1, 0, 0)),
 ('42201-0379699-0',
  'Mrs. Atia Sami',
  Decimal('8000'),
  '0345 8290794',
  datetime.datetime(2017, 10, 1, 0, 0)),
 ('42201-0547441-0',
  'Mrs. Uzma Nusrat',
  Decimal('8000'),
  '0300 2667006',
  datetime.datetime(2002, 1, 1, 0, 0)),
 ('42201-0595452-2',
  'Mrs. Nighat Saleem',
  Decimal('6250'),
  '0355-5155680',
  datetime.datetime(2018, 1, 1, 0, 0)),
 ('42201-09369003-8',
  'Mrs. Sumaira Naveed',
  Decimal('8000'),
  '0315-2745692',
  datetime.datetime(2019, 4, 1, 0, 0)),
 ('42201-2288861-6',
  'Ms Saba',
  Decimal('7000'),
  '0341-2235200',
  datetime.datetime(2019, 10, 1, 0, 0)),
 ('42201-2374318-2',
  'Miss Bibi Maryum',
  Decimal('6000'),
  '0324-2317552',
  datetime.datetime(2015, 8, 1, 0, 0)),
 ('42201-2679271-8',
  'Mrs. Aleem un Nisa',
  Decimal('0'),
  '0356-1038027',
  datetime.datetime(2017, 11, 13, 0, 0)),
 ('42201-3699835-2',
  'Miss Rafia',
  Decimal('10000'),
  '0342-5439394',
  datetime.datetime(2016, 4, 1, 0, 0)),
 ('42201-3892597-1',
  'Mr. Saleem',
  Decimal('8500'),
  '0330-2936847',
  datetime.datetime(2017, 8, 4, 0, 0)),
 ('42201-4378389-4',
  'Mrs. Farzana',
  Decimal('9500'),
  '0330-6021288',
  datetime.datetime(2015, 8, 1, 0, 0)),
 ('42201-4806414-1',
  'Mr. Syed Waqas Bin Arif',
  Decimal('30000'),
  '0345-3184328',
  datetime.datetime(2002, 1, 1, 0, 0)),
 ('42201-5193723-2',
  'Ms Tayyaba',
  Decimal('8000'),
  '0323-2939883',
  datetime.datetime(2018, 8, 1, 0, 0)),
 ('42201-5872264-8',
  'Mrs. Asma Neelofar',
  Decimal('6500'),
  '0331-6122514',
  datetime.datetime(2019, 4, 22, 0, 0)),
 ('42201-6803621-4',
  'Miss Mehreen Saleem',
  Decimal('0'),
  '0357-7518503',
  datetime.datetime(2015, 8, 1, 0, 0)),
 ('42201-7308444-2',
  'Mrs Rabia Moin',
  Decimal('12000'),
  '0321-9622956',
  datetime.datetime(2017, 8, 1, 0, 0)),
 ('42201-7740875-8',
  'Miss Erum',
  Decimal('4500'),
  '0342-5439394',
  datetime.datetime(2016, 4, 25, 0, 0)),
 ('42201-9542902-4',
  'Miss Hina Khalil',
  Decimal('7500'),
  '0349-3632509',
  datetime.datetime(2015, 8, 1, 0, 0)),
 ('42501-8954686-6',
  'Mrs. Khawla Khalid',
  Decimal('26000'),
  '0300-2962518',
  datetime.datetime(2002, 1, 1, 0, 0)),
 ('43375-4022779-3',
  'Mrs Amber',
  Decimal('7500'),
  '0334-9398215',
  datetime.datetime(2023, 4, 4, 0, 0)),
 ('44177-8025648-6',
  'Aunty Ameena (new)',
  Decimal('0'),
  '0318-6740055',
  datetime.datetime(2016, 11, 1, 0, 0)),
 ('44419-1394649-3',
  'Ms. Laiba ',
  Decimal('6000'),
  '0357-4376908',
  datetime.datetime(2023, 9, 4, 0, 0)),
 ('45557-5126402-9',
  'Miss Sumaia Shahab',
  Decimal('8000'),
  '0321-5950355',
  datetime.datetime(2020, 10, 1, 0, 0)),
 ('45737-7231497-0',
  'Khawla Arif',
  Decimal('40000'),
  '0327-8495493',
  datetime.datetime(2015, 8, 1, 0, 0)),
 ('46243-4823965-6',
  'Mrs Afshan Furqan',
  Decimal('0'),
  '0324-3024372',
  datetime.datetime(2018, 2, 12, 0, 0)),
 ('46903-9445579-0',
  'Miss Sabahat',
  Decimal('0'),
  '0316-9004144',
  datetime.datetime(2021, 10, 1, 0, 0)),
 ('47311-1981274-6',
  'Ms Noshaba',
  Decimal('5500'),
  '0346-5781301',
  datetime.datetime(2018, 8, 1, 0, 0)),
 ('48527-3324816-8',
  'Miss Mehek',
  Decimal('0'),
  '0335-3672245',
  datetime.datetime(2017, 1, 9, 0, 0)),
 ('49121-2779228-8',
  'Aunty (new)',
  Decimal('0'),
  '0357-8196629',
  datetime.datetime(1970, 1, 1, 0, 0)),
 ('50409-6629563-5',
  'Ms. Rabia (Snr)',
  Decimal('8750'),
  '0360-6546927',
  datetime.datetime(2015, 8, 1, 0, 0)),
 ('50633-9779833-4',
  'Miss Rubina (Snr)',
  Decimal('0'),
  '0355-2028561',
  datetime.datetime(2018, 4, 1, 0, 0)),
 ('52224-4367912-6',
  'Ms Areeba',
  Decimal('0'),
  '0354-7644960',
  datetime.datetime(2023, 2, 1, 0, 0)),
 ('54704-4813085-6',
  'Miss Binish',
  Decimal('5500'),
  '0327-1441284',
  datetime.datetime(2016, 11, 1, 0, 0)),
 ('57275-5817418-5',
  'Mrs. Nusrat (Aunty)',
  Decimal('5000'),
  '0354-7970995',
  datetime.datetime(2021, 2, 3, 0, 0)),
 ('57321-8744381-6',
  'Ms Amreen',
  Decimal('0'),
  '0353-7651254',
  datetime.datetime(2022, 10, 1, 0, 0)),
 ('58381-5022852-4',
  'Mr. Moin Ahmed Kirmani',
  Decimal('6000'),
  '0319-7960762',
  datetime.datetime(2020, 11, 1, 0, 0)),
 ('58784-7217159-8',
  'Ms Madiha Nadeem',
  Decimal('0'),
  '0352-3716882',
  datetime.datetime(2022, 8, 2, 0, 0)),
 ('59407-1702123-6',
  'Miss Tanzeela',
  Decimal('0'),
  '0332-4988934',
  datetime.datetime(2016, 4, 25, 0, 0)),
 ('59558-5359680-8',
  'Muhammad Sheraz',
  Decimal('0'),
  '0349-2932740',
  datetime.datetime(2015, 8, 1, 0, 0)),
 ('61104-2554480-2',
  'Farzana Aunty',
  Decimal('9500'),
  '0330-6021288',
  datetime.datetime(2015, 8, 1, 0, 0)),
 ('61269-5096034-5',
  'Kamal Arif',
  Decimal('0'),
  '0335-8476163',
  datetime.datetime(2015, 8, 1, 0, 0)),
 ('61878-3280004-9',
  'Miss Maleeha',
  Decimal('0'),
  '0329-4365099',
  datetime.datetime(2018, 4, 1, 0, 0)),
 ('62948-6756067-5',
  'Nazim',
  Decimal('0'),
  '0310-4853123',
  datetime.datetime(1970, 1, 1, 0, 0)),
 ('64126-9178624-0',
  'Ms Noreen',
  Decimal('6500'),
  '0317-4063932',
  datetime.datetime(2018, 1, 18, 0, 0)),
 ('65841-5611610-3',
  'Miss Maryam (New)',
  Decimal('0'),
  '0348-2109144',
  datetime.datetime(2022, 2, 8, 0, 0)),
 ('67831-4650959-9',
  'Waqas Arif',
  Decimal('40000'),
  '0317-5448512',
  datetime.datetime(2015, 7, 2, 0, 0)),
 ('68237-2009515-8',
  'Miss Mahnoor',
  Decimal('0'),
  '0341-2830269',
  datetime.datetime(2017, 8, 22, 0, 0)),
 ('68366-4926102-4',
  'Ms Maryam',
  Decimal('0'),
  '0351-2883851',
  datetime.datetime(2015, 12, 21, 0, 0)),
 ('68993-1777074-9',
  'Ms Shumaila',
  Decimal('0'),
  '0341-8431892',
  datetime.datetime(2024, 5, 14, 0, 0)),
 ('69535-9550275-4',
  'Ms. Ammara',
  Decimal('0'),
  '0351-2518798',
  datetime.datetime(2017, 11, 16, 0, 0)),
 ('69837-5273690-5',
  'Mrs. Atiya',
  Decimal('9500'),
  '0333-3986930',
  datetime.datetime(2019, 4, 4, 0, 0)),
 ('69911-6729489-7',
  'Mr. Sohaib Mohsin',
  Decimal('0'),
  '0332-9117136',
  datetime.datetime(2017, 11, 1, 0, 0)),
 ('70290-6241593-1',
  'Ms. Saima',
  Decimal('0'),
  '0321-4757785',
  datetime.datetime(2015, 8, 1, 0, 0)),
 ('71371-7015784-4',
  'Mrs. Maleeha',
  Decimal('0'),
  '0344-4409683',
  datetime.datetime(2018, 4, 1, 0, 0)),
 ('75410-3507665-6',
  'Ms Raveeha',
  Decimal('8000'),
  '0344-5903630',
  datetime.datetime(2023, 12, 1, 0, 0)),
 ('76075-1961283-0',
  'Miss Ifra',
  Decimal('0'),
  '0354-4833866',
  datetime.datetime(2021, 11, 1, 0, 0)),
 ('76924-3798704-2',
  'Ms. Ambreen',
  Decimal('0'),
  '0335-2499750',
  datetime.datetime(2015, 8, 1, 0, 0)),
 ('78294-5837028-3',
  'Miss Nausheen',
  Decimal('0'),
  '0324-1417056',
  datetime.datetime(2016, 9, 1, 0, 0)),
 ('78366-5731462-3',
  'Miss Maria',
  Decimal('0'),
  '0314-4128634',
  datetime.datetime(2016, 7, 27, 0, 0)),
 ('78901-4408564-9',
  '22500',
  Decimal('1200'),
  '0318-3014949',
  datetime.datetime(1970, 1, 1, 0, 0)),
 ('79204-1688660-1',
  'Khawar Rehman',
  Decimal('0'),
  '0320-8520378',
  datetime.datetime(2019, 8, 21, 0, 0)),
 ('80314-2692010-2',
  'Ms. Hafsa',
  Decimal('0'),
  '0359-5299057',
  datetime.datetime(2021, 2, 15, 0, 0)),
 ('80817-4316273-3',
  'Uzma Salman',
  Decimal('11000'),
  '0324-9732697',
  datetime.datetime(2016, 10, 27, 0, 0)),
 ('83033-2486240-8',
  'Miss Wareesha Salman',
  Decimal('0'),
  '0337-1206186',
  datetime.datetime(2018, 4, 12, 0, 0)),
 ('84525-7239942-4',
  'Ameena Aunty',
  Decimal('0'),
  '0328-2647887',
  datetime.datetime(2017, 4, 28, 0, 0)),
 ('85635-6369796-9',
  'Ms Kinza',
  Decimal('0'),
  '0315-9493226',
  datetime.datetime(2022, 8, 10, 0, 0)),
 ('86760-3318325-5',
  'Ms. Maheen',
  Decimal('0'),
  '0337-2499602',
  datetime.datetime(2018, 10, 22, 0, 0)),
 ('86866-8025372-2',
  'Ms Ayesha',
  Decimal('4500'),
  '0332-9951358',
  datetime.datetime(2024, 1, 1, 0, 0)),
 ('87019-9961640-7',
  'MS Urooj',
  Decimal('4500'),
  '0331-9053754',
  datetime.datetime(2023, 12, 12, 0, 0)),
 ('88184-2628459-2',
  'Ms Shehla',
  Decimal('8000'),
  '0339-5702327',
  datetime.datetime(2023, 11, 1, 0, 0)),
 ('88540-5512831-2',
  'Mrs. Farhat (Aunty)',
  Decimal('0'),
  '0340-2510428',
  datetime.datetime(2018, 10, 8, 0, 0)),
 ('89653-9749778-6',
  'Miss Aiman',
  Decimal('0'),
  '0339-8285787',
  datetime.datetime(2020, 1, 1, 0, 0)),
 ('89727-1472297-8',
  'Mrs. Shaheena (Aunty)',
  Decimal('0'),
  '0310-9669822',
  datetime.datetime(2019, 8, 5, 0, 0)),
 ('95789-8288626-3',
  'Ms. Ammara',
  Decimal('0'),
  '0317-3565301',
  datetime.datetime(2017, 11, 16, 0, 0)),
 ('99069-7951207-7',
  'Ms Areeba',
  Decimal('0'),
  '0337-9429399',
  datetime.datetime(2022, 9, 14, 0, 0)),
 ('99777-6119779-2',
  'Mr Shuja',
  Decimal('0'),
  '0355-4728542',
  datetime.datetime(2024, 2, 1, 0, 0))]